*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html{
    font-size: 10px;
    size: 10px;
}
span{
    font-weight: bold;
}
.citySearch{
    width: 40%;
}
h5{
    text-decoration: underline;
}
h6{
    font-size:small;
}
button{
    size: 5px;
}
.head{
    background-color:beige;
    width: 100%;
}
.heading{
    font-weight:bolder;
}